<style>
       nav ul {
        display: flex;
    }
    nav ul li {
        margin-left: 12.5vw;
        height:4vw;
    }
    nav ul li a {
        font-size:1.5vw !important;
        color: white !important;
        text-align:center;
    }
    nav ul li a:hover {
        text-decoration: underline !important;
        color:blue !important;
    }
</style>
<body>
<nav class="navbar bg-dark border-bottom border-body navbar-expand-md" data-bs-theme="dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
               <a class="nav-link" href="{{ site.baseurl }}{% link index.markdown %}">Home</a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}{% link _posts/2025-04-27-Tools.html %}">Tools</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}{% link _posts/2025-04-27-Future-Inventions.html %}">Future Inventions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ site.baseurl }}{% link _posts/2025-04-27-Credits.html %}">Credits</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>
