---

---
<style>
    .div1{
        background-color:red;
    }
    .div2{
        background-color:lightgreen;
    }
    .div3{
        background-color:lightblue;
    }
    h2{
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
    h1{
        font-family: "Shadows Into Light Two", cursive;
        font-weight: 400;
        font-style: normal;
    }
</style>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">
</head>
<body>
    {{ content }}
</body>
